<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row pb-3">
    <div class="col text-center">
      <h1 class="mb-0">Recuperar contraseña</h1>
    </div>
  </div>
  <div class="row pb-3 justify-content-center">
    <div class="col-6">
      <p class="text-center mb-0">
        Ingrese el correo electrónico asociado a su cuenta de usuario y le enviaremos un enlace para restablecer su
        contraseña
      </p>
    </div>
  </div>
  <div class="row pb-3 justify-content-center">
    <div class="col-5">
      <div class="form-floating">
        <input type="text" autocomplete="new-none" class="form-control rounded-4"/>
        <label>Correo electrónico</label>
      </div>
    </div>
  </div>
  <div class="row pb-3 justify-content-center">
    <div class="col-1">
      <button type="button" class="btn btn-sm btn-danger rounded-pill w-100" [routerLink]="['/list']">
        Regresar
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-sm btn-primary rounded-pill w-100" (click)="handlePasswordReset()">
        Enviar correo electrónico para restablecer contraseña
      </button>
    </div>
  </div>
</div>
