<div class="container">
  <div class="row pt-3 pb-3 justify-content-end">
    <div class="col-auto">
      <button type="button" class="btn btn-sm btn-primary rounded-pill" [routerLink]="['/login']">
        Cerrar sesión
      </button>
    </div>
  </div>
  <div class="row pb-3 align-items-end">
    <div class="col-10">
      <h1 class="mb-0">Listar citas médicas de Compensar EPS</h1>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-sm btn-primary rounded-pill w-100" [routerLink]="['/create']">
        Registrar cita médica
      </button>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <table class="table text-center">
        <thead>
        <tr>
          <th>ID Paciente</th>
          <th>Paciente</th>
          <th>Especialidad</th>
          <th>Institución médica</th>
          <th>Fecha y hora</th>
          <th style="width: 180px">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle">
          <td>CC 1012400123</td>
          <td>Sofía Falla</td>
          <td>Dermatología</td>
          <td>Compensar calle 26</td>
          <td>01/01/2025 10:30</td>
          <td style="width: 180px" class="ps-0 pe-0">
            <div class="btn-group btn-group-sm">
              <a type="button" class="btn btn-danger rounded-pill me-3" [routerLink]="['cancel']">
                Cancelar
              </a>
              <a type="button" class="btn btn-primary rounded-pill" [routerLink]="['/update']">
                Modificar
              </a>
            </div>
          </td>
        </tr>
        <tr class="align-middle">
          <td>CC 1015894712</td>
          <td>Paola Lopez</td>
          <td>Ginecología</td>
          <td>Compensar calle 145</td>
          <td>25/01/2025 18:30</td>
          <td style="width: 180px" class="ps-0 pe-0">
            Cita cacelada
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
